.regLog {
    margin-left: 50px;
    width: 45%;
    background-color: #3F51B5 !important;
    margin: 20px !important;
    color: white !important;
}
.regLog:hover {
    /* width: 50%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#loggedInBtns {
    display: flex;
    justify-content: space-around;
}
#loggedInBtns > * {
    width: 45%;
}